%ul.breadcrumb
  - if @page.try(:name) != Rails.application.config.MAIN_PAGE
    %li
      = link_to '« Main page', root_path, accesskey: 'q', title: 'Back to main page of this wiki'
      - if action_name != 'show_all'
        %span.divider /

  - if action_name != 'show_all'
    %li
      = link_to 'All pages', show_all_path, accesskey: 'q', title: 'Lists all pages this wiki has'
