<div class="row-fluid">
  <div class="span3" id="panel">

    <%= render 'breadcrumbs' %>

  </div>

  <div class="span9 pull-right">

    <h2>All pages</h2>

    <ul>
      <% @all_pages.each do |page_name| %>
        <li><%= link_to page_name.gsub('_', ' '), show_path(page_name) %></li>
      <% end %>
    </ul>

  </div>
</div>
