<div class="row-fluid">
  <div class="span3 js-sidepanel">

    <%= render 'breadcrumbs' %>

    <% if @page.exist? %>
      <div class="breadcrumb">
        <%= link_to 'Edit page', edit_path(@page), :class => 'btn btn-primary', :accesskey => 'e', :title => 'Changes this page to edition mode' %>
      </div>
    <% end %>

    <div class="toc breadcrumb js-toc"></div>

  </div>

  <div class="maincontent span9 pull-right js-maincontent">

    <%= @parsed_content.html_safe %>

  </div>
</div>
