<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>kwik</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/your_user/.rbenv/shims/bundle</string>
    <string>exec</string>
    <string>rails</string>
    <string>server</string>
    <string>-p</string>
    <string>4040</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>WorkingDirectory</key>
  <string>/Users/path/to/kwik</string>
</dict>
</plist>
