<div class="row-fluid">
  <div class="span3" id="panel">

    <%= render 'main/breadcrumbs' %>

  </div>

  <div class="span9 pull-right">

    <h2>Not found</h2>
    That's not a valid resource, please use the links on the right.

  </div>
</div>