<div class="row-fluid">
  <div class="span3" id="panel">

    <%= render 'main/breadcrumbs' %>

  </div>

  <div class="span9 pull-right">

    <h2>Internal server error</h2>
    Something went terribly wrong.

  </div>
</div>